@use '@angular/material' as mat;
@use '../../../theme/colors' as *;

.app-container {
  height: 100vh;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: $primary-color;
  color: #fff;

  .icon {
    color: #fff;
  }

  .spacer {
    width: 100%;
  }

  .avatar {
    padding: 8px 12px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
}

mat-sidenav {
  width: 250px;
  background-color: #fff;
}

.content {
  padding: 20px;
}