@use "../../../theme/colors" as *;

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;

  mat-form-field {
    width: 100%;
    max-width: 420px;
  }
}

.table-container {
  margin-top: 1rem;
  overflow-x: auto;

  .table-loading {
    opacity: 0.5;
    animation: loading-pulse 1s infinite;
  }

  .no-row-tr {
    td {
      width: 100%;
      text-align: center;
      color: $text-secondary;
    }
  }

  .color-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $text-secondary
  }
}

@keyframes loading-pulse {
  0% {
    opacity: 0.7;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.7;
  }
}

@media (max-width: 680px) {
  .search-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

    mat-form-field {
      width: 100%;
      max-width: 100%;
    }
  }
}
